{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
<div class="form">
    {{ form_row(form._token) }}
    {{ form_row(form.name, { 'attr': { 'autocomplete': 'off', 'class': 'input', 'placeholder': 'Nom', 'type': 'text' } }) }}
    {{ form_row(form.description, { 'attr': { 'autocomplete': 'off', 'class': 'input', 'placeholder': 'Description', 'type': 'text' } }) }}
    <div class="drop-container" id="dropContainer" dropzone>
        <span class="drop-title" style='color: white;'>Déposez le fichier ici</span>
        <p class="form-paragraph" id="file-name" style='color: white;'>
            {% if form.img.vars.value is not empty %}
                {{ form.img.vars.value.name }}
            {% else %}
                Le fichier doit être une image
            {% endif %}
        </p>
        <label for="file-input" class="drop-area">
            <input type="file" accept="image/*" required="" id="file-input" name="{{ form.img.vars.full_name }}" style="display: none;">
            <span class="button">Choisir un fichier</span>
        </label>
    </div>

    <center><button class="button" align='center'>Sauvegarder</button></center>
</div>
{{ form_end(form, {'render_rest': false}) }}
<script>
    function submitForm() {
        console.log("submitForm called");

        // Récupérer l'élément file-input
        var fileInput = document.getElementById('file-input');

        // Vérifier si un fichier a été sélectionné
        if (fileInput && fileInput.files && fileInput.files.length > 0) {
            // Accéder au nom du fichier
            var fileName = fileInput.files[0].name;

            // Mettre à jour le nom du fichier affiché
            document.getElementById('file-name').innerText = fileName;

            // Mettre à jour le champ PDF caché avec le nom du fichier
            document.getElementById('{{ form.img.vars.full_name }}').value = fileName;

            // Soumettre le formulaire
            document.getElementById('my-form').submit();
        } else {
            console.error("Aucun fichier sélectionné.");
        }
    }

    document.getElementById('dropContainer').addEventListener('dragover', function (e) {
        e.preventDefault();
        this.classList.add('dragover');
    });

    document.getElementById('dropContainer').addEventListener('dragleave', function () {
        this.classList.remove('dragover');
    });

    document.getElementById('dropContainer').addEventListener('drop', function (e) {
        e.preventDefault();
        this.classList.remove('dragover');

        var files = e.dataTransfer.files;

        if (files.length > 0) {
            // Mettez à jour le nom du fichier affiché
            document.getElementById('file-name').innerText = files[0].name;

            // Mettez à jour le champ PDF caché avec le nom du fichier
            document.getElementById('{{ form.img.vars.full_name }}').value = files[0].name;
        }
    });

    document.getElementById('file-input').addEventListener('change', function () {
        // Mettez à jour le nom du fichier affiché lors de la sélection via le bouton de fichier
        document.getElementById('file-name').innerText = this.files[0].name;
    });
</script>